@import url(https://fonts.googleapis.com/css?family=Lato:400, 700&display=swap);


:root {
  --bg: #1a1d21;
  --lightbg: #292d33;
  --lighterbg: #3b3f45;
  
  --grey: #c9c7c7; /*fixed*/
  --grey2: #c9c7c7; /*to darker grey*/
  --grey3: #c9c7c7; /*to black*/

  --babyblue: #C3E0E5;
  --lightblue: #5885AF;
  --darkblue: #41729F;
  --blackblue: #274472;
  --blackblueOpacity: rgba(39, 68, 114, 0.5); 
  --blackbluedark: #1d3258;

  
  --orange: rgb(255,165,0);
  --dark-orange: rgb(255,131,0);
  
  --red: #a80000;
  --darkred: rgba(168, 0, 0, 0.6);
  
  --green: #00b050;
  
  --themeFontColor: white;
  --shadow: rgba(0, 0, 0, 0.4);
}

* {
    box-sizing: border-box;
    font-family: "Lato", Arial;
}
body {
    background-color: black;
    background-position: 100%;
    background-size: cover;
    color: #fff;
    font-family: "Montserrat";
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#root,
body,
html,
main {
    height: 100%;
}
a {
    text-decoration: none;
}
h1,
h2,
p {
    margin: 0;
}
.App {
    height: 100%;
}
.animation {
    display: none;
}
@media only screen and (min-width: 768px) {
    .animation {
        background-image: url("https://github.com/TotoB12/radio/blob/main/img/background3.jpg?raw=true");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow:hidden;
        display: flex;
        position: relative;
        width: auto;
        height: 100%;
        padding: 0 0;
        margin: 0 0;
    }
}
.site-title {
    font-size: 16px;
    margin-top: 100px;
    font-family: "Century Gothic", "Monospace";
}
@media only screen and (min-width: 768px) {
    .site-title {
        font-size: 32px;
    }
}
.site-description {
    font-size: 16px;
    margin: 0;
    vertical-align: baseline;
}
@media only screen and (min-width: 768px) {
    .site-description {
        margin-left: 10px;
        margin-top: 0;
    }
}
.under-header-content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 400px;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    margin-top: 0px;
    top: 0px;
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .under-header-content {
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-direction: row;
        flex-direction: row;
        height: 50px;
        z-index: 1;
    }
}
.slider-container {
    height: 100%;
    padding: 22px 20px 22px 15px;
    width: 140px;
}
.slider {
    -webkit-appearance: none;
    background: #dfdfe2;
    height: 6px;
    width: 100%;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
    cursor: pointer;
    height: 15px;
    width: 15px;
}
.slider::-moz-range-thumb {
    background: #fff;
    cursor: pointer;
    height: 15px;
    width: 15px;
}
[data-meta="title"] {
    font-size: 18px;
}
[data-meta="artist"] {
    font-size: 14px;
}
[data-meta="album"] {
    font-size: 12px;
}
[data-meta="listeners"] {
    bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    left: 10px;
    position: absolute;
}
@media only screen and (min-width: 768px) {
    [data-meta="listeners"] {
        bottom: auto;
        left: auto;
        top: 2px;
        right: 10px;
    }
}
[data-meta="picture"] {
    bottom: 212px;
    height: 200px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    width: 200px;
}
@media only screen and (min-width: 768px) {
    [data-meta="picture"] {
        bottom: auto;
        height: 70px;
        left: auto;
        margin-left: 0;
        width: 70px;
    }
}
@media (max-height: 600px) {
    [data-meta="picture"] {
        display: none;
    }
}
.now-playing {
    -webkit-align-content: center;
    align-content: center;
    background-color: black;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 120px;
    left: 0;
    padding: 10px;
    position: relative;
    margin-bottom: 0;
    width: 100vw; 
  }

@media only screen and (min-width: 768px) {
    .now-playing {
        background-color: black;;
        bottom: auto;
        height: 100%;
        left: 70px;
        padding-bottom: 2px;
        padding-top: 2px;
        position: relative;
        width: calc(100% - 70px);
    }
}
.progress-container {
    border-radius: 4px;
    bottom: 10px;
    height: 4px;
    left: 10px;
    overflow: hidden;
    position: absolute;
    right: 10px;
}
@media only screen and (min-width: 768px) {
    .progress-container {
        bottom: 5px;
    }
}
.now-playing progress {
    -webkit-appearance: none;
    appearance: none;
    background-color: #3b3b4f;
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border: none;
}
.now-playing progress::-webkit-progress-bar {
    background-color: #3b3b4f;
}
.now-playing progress::-webkit-progress-value {
    background-color: #fff;
}
.meta-display {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    width: calc(100% - 210px);
}
.meta-display-visible {
    opacity: 1;
}
.visualizer {
    background-color: #274472;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 235px;
    width: 100%;
    z-index: 0;
}
@media only screen and (min-width: 768px) {
    .visualizer {
        background-color: transparent;
        top: 45px;
    }
}
.visualizer canvas {
    height: 100%;
    width: 100%;
}
.recent-song-history {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: 100%;
    padding: 0;
    text-align: center;
    width: 70px;
    z-index: 10;
}
.recent-song-history:active,
.recent-song-history:hover {
    background-color: #1b1b32;
}
.recent-song-history .recently-played-icon {
    color: #fff;
    height: 60%;
    width: 60%;
}
.recent-song-list {
    background-color: #1b1b32;
    bottom: 70px;
    color: #fff;
    cursor: default;
    left: 0;
    position: absolute;
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .recent-song-list {
        bottom: 73px;
        width: 350px;
    }
}
.recently-played-icon {
    font-weight: 700;
    -webkit-justify-content: center;
    justify-content: center;
}
.recent-song-info {
    border-bottom: 1px solid #3b3b4f;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding: 10px;
}
.recent-song-meta {
    font-size: 16px;
    margin-left: 10px;
    overflow: hidden;
    text-align: left;
}
.recent-song-meta p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.recent-song-meta p:first-child {
    font-weight: 700;
}
.recent-song-info:nth-child(5) {
    border-bottom: none;
}
.recent-song-info img {
    float: left;
    height: 50px;
    width: 50px;
}

[data-meta="stream-select"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-position: right 0.7em top 50%, 0 0;
    background-repeat: no-repeat;
    background-size: 0.65em auto, 100%;
    border-radius: 0;
    border: none;
    bottom: 25px;
    font-size: 12px;
    padding: 2px 20px 2px 2px;
    position: absolute;
    right: 10px;
}
@media only screen and (min-width: 768px) {
    [data-meta="stream-select"] {
        bottom: 16px;
    }
}
footer {
    background-color: #0a0a23;
    bottom: 0;
    display: -webkit-flex;
    display: flex;
    height: 70px;
    position: absolute;
    width: 100%;
    z-index: 10;
}
@media only screen and (min-width: 768px) {
    footer {
        border-top: 3px solid #fff;
        box-sizing: content-box;
    }
}
.play-container {
    background-color: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    height: 100%;
    left: 50%;
    margin-left: -35px;
    padding: 15px;
    position: absolute;
    width: 70px;
}
.play-container:active,
.play-container:hover {
    background-color: #1b1b32;
}
@media only screen and (min-width: 768px) {
    .play-container {
        left: auto;
        margin-left: 0;
        position: relative;
    }
}
.play-container:before {
    background-color: #1b1b32;
    background-image: url(https://cdn-media-1.freecodecamp.org/code-radio/cta.png);
    background-position: 150px;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-sizing: border-box;
    content: "Push Play or Space Bar to Start Music!";
    display: none;
    font-size: 21px;
    font-weight: 700;
    height: 100px;
    left: -170px;
    opacity: 0;
    padding: 10px 100px 10px 20px;
    pointer-events: none;
    position: absolute;
    top: -110px;
    transition: opacity 0.5s ease-out;
    width: 250px;
}
@media only screen and (min-width: 768px) {
    .play-container:before {
        display: block;
    }
}
.play-container-cta:before {
    opacity: 1;
}
.play-container-cta:hover {
    background: #2a2a40;
}

/*-------- SIDEBAR --------*/

#side {
  --sidebarWidth: 250px;
  width: var(--sidebarWidth);
  height: 100vh;
  position: fixed;
  top: 48px;
  left: calc(var(--sidebarWidth) * -1);
  background: var(--darkblue);
  transition: left 0.3s;
  z-index: 8888;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  box-shadow: 0 0 15px 0 var(--shadow);
}

#side.show { left: 0; }

/*side bar (and setting) button*/

#side-btn,
#setting-btn {
  border: none;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  background: var(--darkblue);
  color: var(--grey);
  transition-duration: 0.5s;
}

#side-btn:hover,
#setting-btn:hover {
  background: var(--lightblue);
}

@media only screen and (min-width: 1000px) {
  #side-btn {
    display: none;
  }
}

/*close button*/
#side-close {
  border: none;
  background: var(--darkblue);
  color: var(--grey);
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  border-radius: 50%;
  transition-duration: 1s;
  margin: 6px;
  padding: 7px 6px 6px 6px;
  aspect-ratio: 1/1;
}

#side-close > span {
  font-size: 32px;
}

#side-close:hover {
  background: var(--lightblue);
}

#side > section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

#side > section > a {
  color: var(--grey);
  display: flex;
  align-items: center;
  border-radius: 12px;
}

#side > section > a:not(.blanka) {
  margin: 5px;
  padding: 5px;  
}

.blanka { margin: 10px; }

#side > section > a:hover {
  background: var(--lightblue);
}

#side > section > a > span {
  margin-right: 10px;
}

/*-------- NAVBAR --------*/

nav:not(#side, #setting) {
  background: var(--darkblue);
  color: var(--grey);
  font-family: montserrat, sans-serif;
  position: fixed;
  display: flex;
  width: 100%;
  height: 48px;
  z-index: 9999;
}

nav:not(#side, #setting) > div {
  display: flex;
  align-items: center;
}

/*space the google icons*/
nav:not(#side, #setting) > div > a > span {
  margin-right: 3px;
}

/*tabs*/
nav:not(#side, #setting) > div > a {
  display: flex;
  color: var(--grey);
  align-items: center;
  padding: 12px 20px;
  transition-duration: 1s;
}

/*active tab*/
.active {
  background-color: var(--darkblue);
}

/*hover of tabs*/
nav:not(#side, #setting) > div > a:hover:not(.active) {
  background-color: var(--lightblue);
}

nav:not(#side, #setting) > div:first-of-type {
  --widthOfNavbar: 80%;
  width: var(--widthOfNavbar);
}

nav:not(#side, #setting) > div:last-of-type {
  width: 20%;
  justify-content: right;
}

@media only screen and (max-width: 1000px) {
  nav:not(#side, #setting) > div {
    width: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  nav:not(#side, #setting) > div:first-of-type {
    display: none;
  }
  nav:not(#side, #setting) > div:last-of-type {
    width: 100%;
  }
}

/*-------- SETTINGS --------*/

#setting {
  --settingWidth: 200px;
  --settingHeight: 300px;
  width: var(--settingWidth);
  height: var(--settingHeight);
  position: fixed;
  top: calc(var(--settingHeight) * -1);
  left: calc(100% - var(--settingWidth)); 
  background: var(--lightbg);
  transition: top 0.3s;
  z-index: 8888;
  border-radius: 0px 0px 0px 50px;
  color: var(--grey);
}

#setting.show { 
  top: 48px;
  box-shadow: 0px 15px 15px 0 var(--shadow); 
}

/*close button*/
#setting-close {
  border: none;
  background: var(--lightbg);
  color: var(--grey2);
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  border-radius: 50%;
  transition-duration: 1s;
  margin: 6px;
  padding: 7px 6px 6px 6px;
  aspect-ratio: 1/1;
}

#setting-close > span {
  font-size: 32px;
}

#setting-close:hover {
  background: var(--lighterbg);
}

#setting > section {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

#setting > section > h1 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 24px;
  color: var(--grey3)
}

#setting > section > a {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 12px;
  color: var(--grey3);
}

#setting > section > a:hover {
  background-color: var(--lighterbg);
}

#setting > section > a > span { margin-right: 10px; }
/*# sourceMappingURL=main.75b93fcc.chunk.css.map */
